.ct_wrapper,
header,
.ct_content_wrap,
section,
footer{
	float:left;
	width:100%;
	position:relative;
}
section{
	padding: 20px 0;
}
.ct_content_wrap{
	min-height: calc(100vh - 485px);
}
.breadcrumb{
	background-color: #fff;
}
/*
	  ==============================================================
		   Top Bar Wrap Style
	  ==============================================================
*/
.top_strip{
	float:left;
	width:100%;
	position:relative;
	background-color:#345d7e;
	padding:20px 0px;
    line-height: 20px;
}
.top_location_wrap{
	display: flex;
    align-items: center;
	float:left;
	width:auto;
	position:relative;	
}
.top_location_wrap p{
	color:#fff;
	margin:0px;
	font-family: 'Montserrat', sans-serif;
	/* font-size:12px; */
	font-weight:300;	
}
.top_location_wrap p i{
	margin:0px 8px 0px 0px;	
}
.top_ui_element{
	float:right;
	width:auto;
	position:relative;	
}
.top_ui_element ul{
	float:left;
	width:100%;	
}
.top_ui_element ul li{
	position:relative;
	color:#fff;
	/* display:inline-block; */
	font-family: 'Montserrat', sans-serif;
	padding:7px;
	/* font-size:12px; */
	font-weight:300;
	letter-spacing:1.4px;
}
.top_ui_element ul li:last-child{
	padding-right:0px;	
}
.top_ui_element ul li i{
	margin:0px 8px 0px 0px;	
}
.top_ui_element ul li a{
	color:#fff;	
}

.logo_nav_outer_wrap{
	float:left;
	width:100%;
	position:relative;
	/* padding:15px 0px;	 */
}
.main_navigation{
	float:left;
	width:auto;	
}
.main_navigation ul{
	float:left;
	width:100%;	
}
.main_navigation ul li{
	position:relative;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;	
}
.main_navigation ul li a{
	display:block;
	text-transform:uppercase;
	padding:0px 20px;
	font-weight:700;
	/* font-size:14px; */
	line-height: 70px;
}
.main_navigation ul li a span{
	display:block;
	font-size:10px;
	line-height:normal;	
	font-weight:300;
}
/*2nd ul*/
.main_navigation ul ul{
	position:absolute;
	top:135%;
	left:0px;
	width:200px;
	z-index:1000;
	background-color:#fff;
	opacity:0;
	visibility:hidden;	
}
.main_navigation ul ul li{
	width:100%;	
	padding:10px 10px;
}
.main_navigation ul ul li a{
	font-weight:300;
	font-size:12px;	
}
.main_navigation ul ul ul{
	position:absolute;
	top:0px;
	left:100%;	
}
.main_navigation ul > li:hover > ul{
	opacity:1;
	visibility:visible;	
}

.logo_wrap{
	float:left;
	width:auto;	
}
.logo_wrap a{
	display:block;	
}
.logo_wrap img{
    height: 68px;
}

.banner_outer_wrap{
	float:left;
	width:100%;
	position:relative;
    height: calc(100vh - 170px);
	overflow: hidden;
}
.banner_outer_wrap ul{
	width:100%;
	float:left;	
}
.banner_outer_wrap ul li{
	position:relative;
	width:100%;
	float:left;	
}
/*.banner_outer_wrap ul li:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5);	
}*/
.banner_outer_wrap ul li img{
	width:100%;
	height:calc(100vh - 170px);	
}
/*Bx-Slider Css*/
.banner_outer_wrap .bx-controls.bx-has-pager.bx-has-controls-direction{
	text-align:center;
	float:left;
	width:100%;	
}
.banner_outer_wrap .bx-wrapper .bx-pager{
	width:auto;
	display:inline-block;
	background-color:rgba(0, 0, 0, 0.1);
	padding:6px 10px 0;	
}
.banner_outer_wrap .bx-wrapper .bx-pager,
.banner_outer_wrap .bx-wrapper .bx-controls-auto{
	bottom:20px;	
}
.banner_outer_wrap .bx-wrapper .bx-pager.bx-default-pager a{
	background-color:transparent;
	border:1px solid #fff;
	margin:0 3px;
	width:12px;
	height:12px;
	border-radius:100%;
}
/*Bx-Slider Button Css*/
.banner_outer_wrap .bx-wrapper .bx-controls-direction a{
	width:50px;
	height:50px;
	background-color:rgba(0, 0, 0, 0.1);
	text-indent:0px;
	font-size:0px;
	line-height:48px;	
}
.banner_outer_wrap .bx-wrapper .bx-controls-direction a.bx-prev{
	left:0px;	
}
.banner_outer_wrap .bx-wrapper .bx-controls-direction a.bx-next{
	right:0px;	
}
.banner_outer_wrap .bx-wrapper .bx-controls-direction a:before{
	content:"\f104";
	position:absolute;
	font-family:fontawesome;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.banner_outer_wrap .bx-wrapper .bx-controls-direction a.bx-next:before{
	content:"\f105";	
}

.ct_courses_subject_bg{
	/* background-image:url(images/cources-cat-bg.jpg); */
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	padding:115px 0 80px;	
}
.ct_courses_subject_bg:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 170px;
	height: auto;
	/* background-image:url(images/cources-left-icons.png); */
	background-position:center;
	background-repeat:no-repeat;
	background-size: contain;
}
.ct_courses_subject_bg:after{
	content: "";
	position: absolute;
	top: -20px;
	right: -15px;
	bottom: 0px;
	width: 170px;
	height: auto;
	/* background-image:url(images/cources-right-icons.png); */
	background-position:center;
	background-repeat:no-repeat;
	background-size: contain;
}
.courses_subject_carousel{
	float:left;
	width:100%;
	position:relative;	
}
.courses_subject_carousel .item{
	margin:0px 10px;
	float:left;
	width: 90%;
}
.course_subject_wrap{
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	padding:20px 20px;	
}
.course_subject_wrap i{
	display:block;
	font-size:30px;	
	margin:0px 0px 10px;
	color:#fff;
}
.course_subject_wrap p{
	/* color:#fff; */
	text-transform:capitalize;
	margin:0px;
	font-weight:600;	
}
.course_subject_wrap p span{
	display:block;	
}
.course_subject_wrap:hover i,
.course_subject_wrap:hover p{
	color:#333;	
}
.courses_subject_carousel.owl-carousel .course_subject_wrap img{
	height: 120px;
}
.ct_heading_1_wrap{
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	margin:0px 0px 50px;	
}
.ct_heading_1_wrap h3{
	text-transform:uppercase;
	font-weight:600;
	margin:0px 0px 10px;	
}
.ct_heading_1_wrap p{
	margin:0px 0px 15px;	
}
.ct_heading_1_wrap span{
	display:inline-block;
	position:relative;	
}
.ct_heading_1_wrap span img{
	display:inline-block;
	width:auto;
	height:auto;
	margin-top:-5px;	
}
.ct_heading_1_wrap span:before,
.ct_heading_1_wrap span:after{
	content:"";
	position:absolute;
	width:80px;
	height:1px;
	background-color:#777777;
	top:10px;	
}
.ct_heading_1_wrap span:before{
	left:-100px;	
}
.ct_heading_1_wrap span:after{
	right:-100px;	
}
/*White Heading*/
.ct_heading_1_wrap.ct_white_hdg h3{
	color:#000;	
}
.ct_heading_1_wrap.ct_white_hdg p{
	color:#fff;	
}
.ct_heading_1_wrap.ct_white_hdg span:before,
.ct_heading_1_wrap.ct_white_hdg span:after{
	background-color:#fff;	
}
/*Owl Carousel*/
.courses_subject_carousel .owl-nav{
	position:absolute;
	top:50%;
	width:100%;	
}
.courses_subject_carousel .owl-nav div{
	font-size:0px;
	position:absolute;	
}
.courses_subject_carousel .owl-nav .owl-prev{
	left:-20px;	
}
.courses_subject_carousel .owl-nav .owl-next{
	right:0px;	
}
.courses_subject_carousel .owl-nav .owl-prev:before,
.courses_subject_carousel .owl-nav .owl-next:before{
	content:"\f104";
	font-family:fontawesome;
	position:absolute;
	top:-40px;
	left:0px;
	width:auto;
	height:auto;
	color:#787879;
	font-size:55px;	
}
.courses_subject_carousel .owl-nav .owl-next:before{
	content:"\f105";
}

.ct_footer_bg {
	float: left;
	width: 100%;
	position: relative;
	background-color: #345d7e;
	padding: 50px 0px;
	font-family: 'Open Sans', sans-serif;
}
.ct_footer_bg h4{
	color: #fff;
	font-size: 20px;
}
.ct_footer_bg a{
	color: #fffeab;
}
.ct_course_list_wrap{
	margin:0px 0px 30px;	
}
.ct_course_list_wrap,
.most_popular_courses{
	float:left;
	width:100%;
	position:relative;	
}
.most_popular_courses .item{
	margin:0px 10px 0px;	
}
.ct_course_list_wrap figure img{
	width:100%;
	height:240px;	
}
.course_list_img_des{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;	
}
.ct_course_list_wrap:hover .course_list_img_des .ct_zoom_effect{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	opacity:0.8;	
}
.ct_zoom_effect{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);	
}
.ct_course_link{
	position:absolute;
	top:33%;
	width:100%;
	text-align:center;
	margin:-25px 0px 0px;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);	
}
.ct_course_link > a{
	display:inline-block;
	border:1px solid #fff;
	color:#fff;
	font-weight:600;
	padding:10px 20px;	
}
.ct_course_list_wrap:hover .ct_course_link{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);	
}
.popular_course_des{
	float:left;
	width:100%;
	height: 170px;
	position:relative;
	padding:30px 25px 15px;
	background-color:#f8f9f8;
}
.popular_course_des h5 > a{
	text-transform:uppercase;
	margin:0px 0px 15px;
	display:block;	
	color: #345d7e;
}

.get_started_outer_wrap{
	/* background: url("../images/company.png") center no-repeat; */
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
url('../images/company.png') center/cover no-repeat;
	padding: 15px 0;
	/* width: 100%; */
}
.foo_col_4 ul li a{
	margin-left: 10px;
}
.get_started_content_wrap p {
	text-indent: 2em;
}
.home section:nth-child(even) {
	background-color: #f2f2f2;
}
.equipment thead {
	background-color: #0c769e;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #bdd7ee;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ddebf7;
}
.equipment td, .equipment th{
	text-align: center;
	letter-spacing: 4px;
}