*{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
body{
    color: #000;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
}
ul {
    margin:0px;
    padding:0px;
 }
 li {
     list-style: none;
 }
 ul ul {
     margin:0px;
     padding:0px;
 }
 a{
    color: #5f91c7;
 }
